body {
	color: white;
	background-color:#0B686B;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul li {
    display: block;
    border-top: 1px grey solid;
}

nav a{
    color: #6B3158;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;

}
img {
  border-style: none;
  padding-top: 15px;
	width: 100%;
}
.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}
.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }
		img {
		  border-style: none;
		  padding-top: 15px;
			width: 50%;
		}

    header h1 {
        order: 1;
				padding-left: 10px;
				padding-bottom: 0;
    }

    nav {
        order: 2;
    }
		.map-wrapper iframe{
		    left:0;
		    top:0;
		    height:65%;
		    width:65%;
		    position:absolute;
		}

}
