html {
	font-size: 100%;
}


.nav {
  list-style: none;
  margin: 0;
  padding:0;
	background: tan;
  display: flex;
  flex-flow: column;
  text-align: center;

}


.nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: white;
  border-top: 1px solid #6B3158;;
  border-bottom: 1px solid white;
	font-weight: bold;
	text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
	height: 300px;
}


p {
color: red;
color: white;
font-family:Georgia, Arial, sans-serif;
font-weight: lighter;
margin:0 auto;
padding-top: 15px;
font-family: 'PT Sans', helvetica, "Source Sans Pro", sans-serif;
font-size: 1rem;
line-height: 1.35rem;


}

img {
  display: block;
}

 a:visited {
  color: #9D9254;
	color: #6B3158;

font-family: 'PT Sans', helvetica, "Source Sans Pro", sans-serif;
}

a:link {
  color: #58E5EB;

  font-family: 'PT Sans', helvetica, "Source Sans Pro", sans-serif;
}
a:hover {
  color: hotpink;

  font-family: 'PT Sans', helvetica, "Source Sans Pro", sans-serif;
}
 a:active {
  color: #6B3158;

font-family: 'PT Sans', helvetica, "Source Sans Pro", sans-serif;
}



h1, h2, h3, h4, h5, h6{
  font-family: 'PT Serif', 'Merriweather', Georgia, serif;
  font-weight: 400;
  font-weight: bold;
  color:orange;
	padding: 10px;

}



body{
color: orange;
  background-color:#0B686B;
  margin: auto;
  font-family: 'PT Sans', helvetica, "Source Sans Pro", sans-serif;

}

img {
  border-style: none;
  padding-top: 15px;
	width: 100%;
}

.container{
  width: 95%;
  background-color: white;
  margin: 0 auto;
  background-color: #0B686B;
  font-weight: lighter;

}

@media (min-width:500px){
	.nav {
    flex-flow: row;
    justify-content: flex-end;
	}

	.nav a {
		border: none;
		padding-top: 20px;
	}
	.main, .aside, .footer {
	  flex: 1 100%;
	  padding: 10px;
		flex-flow: column;
	}

.wrapper {
	height: 300px;
	padding-left: 10px;
}

.main {
	    flex: 3 0px;
	    display: flex;
			padding-left: 10px;
	  }

.aside-1 {
	order: 1;
	display: flex wrap;
}

.main {
	order: 2;
}

.aside-2 {
	order: 3;
}

.footer {
	order: 4;
}
		img {
		  border-style: none;
		  padding-top: 15px;
			width:50%;
			margin-right: 10px;
		}


}


@media (min-width: 700px) {
  .nav {
    flex-flow: row wrap;
    justify-content: flex-end;
	}

	.nav a {
		border: none;
		padding-top: 20px;
	}


.wrapper {
	height: 300px;
	padding-left: 10px;
	flex-flow: row;
}


.main {
	    flex: 3 1px;
	    display: flex;
			flex-grow: 1;
			padding-left: 10px;
	  }

.aside-1 {
	order: 1;
	flex-grow: 2;
	display: flex wrap;
}

.main {
	order: 2;
}

.aside-2 {
	order: 3;
	flex-grow: 2;
}

.footer {
	order: 4;
}
		img {
		  border-style: none;
		  padding-top: 15px;
			margin-right: 10px;
		}

  }
