p {
color: red;
color: white;
font-family:Georgia, Arial, sans-serif;
font-weight: lighter;
margin:0 auto;
padding-top: 15px;
font-size: 20px;


}

img {
  display: block;
}

#nav a:link {
  color: green;
  }

#nav a:visited {
    color: pink;
  }
#nav a:hover {
  color: hotpink;
}
#nav a:active {
  color:limegreen;
}

#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 33%;
  padding-bottom: 15px;
}

#nav2 a:link {
  color: yellow;
  }

#nav2 a:visited {
    color: pink;
  }
#nav2 a:hover {
  color: hotpink;
}
#nav2 a:active {
  color:limegreen;
}
#nav2 li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
}

h1{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;

}

body{
color: orange;
  background-color:grey;
  margin: auto;

}

img {
  border-style: none;
  padding-top: 15px;
}

#container{
  width: 95%;
  background-color: white;
  margin:0 auto;
  background-color: grey;
  font-weight: lighter;

}
